* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #F8F9FA;
}
.logo_bagas{
    width:3.3em;
    height:auto;
    margin-left:2rem;
}
.nav-logo-bagas{
    font-family: "Ropa Sans", sans-serif;
    font-weight: 700;
    font-size:17px;
    color: #1f2d3d;
    left:200px;
    margin-right:985px;
}

.button3 {
    background-color: #17a2b8;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 8px 9px 8px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width:74px;
    cursor: pointer;
    margin-right:70px;
    }

    .button3:hover {
    background: #1785b8;
    
    }

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 -50px 0 -50px;
}

.nav-item {
    margin-right: 3rem;
    width:100px;
}

.nav-link{
    
    font-size: 1rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #4EABC8;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -150%;
        top: 5rem;
        flex-direction: column;
        background-color: #F8F9FA;
        width: 110%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-logo-bagas{
        font-family: "Ropa Sans", sans-serif;
        font-weight: 700;
        font-size:17px;
        color: #1f2d3d;
        left:200px;
        margin-right:0px;
    }

    .nav-item{
        margin-left:45px;
    }
    .button3{
        margin-left:13px;
    }
}



footer{
    padding-bottom: 20px;
    background-color: #1290b6;
    color: white;
    text-align: center;
    height: 330px;
}

.container-falend {
    margin: 0px auto;
    padding-left: 6%;
    padding-right: 6%;
    max-width: 1170px;
    height: 100%;
}

.footer-content-falend {
    float: left;
    width: 25%;
    text-align: justify;
    text-justify: inter-word;
}

.footer-contents-falend {
    width: 100%;
}

.footer-content-falend img {
    width: 80px;
    float: center;
    text-align: center;
    padding-top: 100px;
}

.footer-content-falend h6{
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    margin: 0px;
}

.footer-content-falend i {
    padding-right: 5px;
}

.footer-content-falend h5 {
    font-size: 2rem;
    font-weight: 700;
}

.footer-content-falend p {
    font-size: 1.5rem;
}

.logo-falend {
    text-align: center;
}

.padding-footer-falend {
    padding-top: 80px;
}

.copyright-falend {
    border-top: 1px solid white;
    background-color: #1290b6;
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
}

.copyright-falend p {
    font-size: 1.5rem;
}

@media (max-width: 1100px){
    .footer-content-falend {
        width: 50%;
        float: left;
    }
    footer {
        height: 500px;
    }
    .container-falend {
        padding-right: 16%;
    }
    .padding-footer-falend {
        padding-top: 0px;
    }
    .footer-content-falend img {
        padding-top: 100px;
    }
    .spesial-falend {
        text-align: center;
    }
    .copyright-falend {
        border-top: 1px solid white;
        
        color: white;
        text-align: center;
        
    }
}

@media (max-width: 768px) {
    .container-falend {
        
        padding-left: 10%;
        padding-right: 10%;
    }
    footer {
        position:relative;
        margin-top: 200px;
        width: 100%;
        left: 0;
        bottom: 0;
        overflow:auto; 
       
        height: 450px;
    }
    .footer-content-falend {
        width: 100%;
    }
    .padding-footer-falend {
        padding-top: 0px;
    }
    .footer-content-falend img {
        padding-top: 50px;
    }
    .footer-content-falend h6 {
        padding-bottom: 20px;
    }
    .spesial-falend {
        text-align: left;
    }
    .copyright-falend p {
        font-size: 1.2rem;
    }
    .copyright-falend {
        border-top: 1px solid white;
        
        color: white;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        
    }
    .copyright-falend {
        border-top: 1px solid white;
        
        color: white;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 20px 0 20px 0;
    }
}
